.movies__Container {
  background-color: black;
  color: azure;
}

.bgRed {
  //overflow: hidden;
  height: 100vh;
  overflow-y: auto;

  a {
    color: azure;
  }
}

.moviesPanel {
  //overflow: hidden;
  //overflow-y: scroll;

}

.row {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.key{
  background-color: #e53935;
}

.list__item {
  padding: 1rem;
  margin: 0 0.3rem;
  background: #389b84;

}

.list__item .item__cover {
   width: 10rem;
  height: 15rem;
  margin-bottom: 1rem;
}

.list__item .item__cover img {
  width: 100%;
  height: 100%;
}

.list__item .item__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: flex-start;
}

.list__item .item__details p{
  font-size: 1rem;

  padding-bottom: 0.5rem;
}

