.container{
    max-width: 120rem;
    padding: 7rem 9.5rem 7rem 7rem;
}

.row{
    display: flex;
    justify-content: flex-start;
}

.btn{

    //font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;

    margin-left: 1.875rem;
    font-size:2.25rem;
    line-height: 2.625rem;
    color: #FFFFFF;
    border: none;
    border-radius: 1rem;
}
.btn__season{
    background: rgba(0, 0, 0, 0.5);
    padding: 1.3125rem 3.75rem;
}