.container {
  max-width: 120rem;
  padding: 7rem 9.5rem 7rem 7rem;
  background-color: #4c5059;
}

.preview__row {
  display: flex;
  justify-content: space-between;

}

.on__back:focus {

  color: #e53935;
}




.button__group {
  display: flex;

}

.rating{
  display: flex;
  margin-top: 4.6875rem;
}
.rating__kp{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 2rem 0 0;
}
.rating__imbd{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  //width: 1em;
  height: 100vh;

  min-width: 1em;

  padding-left: 0.5em;
  padding-right: 0.5em;

  background-color: black;
  opacity: 1;

  border-right: 1px solid #CCCCCC;;
}
