.container {
  max-width: 120rem;
  height: 100%;
  padding: 3rem 7rem 0 7rem;
  background: rgba(4, 20, 35, 0.8);

}

.preview__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview__img {
  width: 20.6rem;
}

.description {
  padding: 0 0 0 1rem;
  margin: 3rem 0 2rem 0;
  border-left: #FF0000 solid 0.2rem;
  line-height: normal;
}

.on__back:focus {
  color: #FF0000;
}

.title {
  width: fit-content;
}

.button__group {
  //width: 100%;
  display: flex;
  align-items: center;

}

.rating {
  display: flex;
  margin: 4rem 0 2rem 1.2rem;
}

.rating__kp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 2rem 0 0;
}

.rating__imbd {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
}

.like.active {
  color: #0D9F00;
}

.deslike.active {
  color: #FF0000;
}

.bookmark.active {
  color: #FF0000;
}

