.container {
  width: 100%;
  padding: 2rem 2rem 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__category {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  padding: 0.5rem 1.4rem;
  font-size: 1rem;
  color: #FFFFFF;
  margin: 0 1.4rem 0 0;
  border: none;
  border-radius: 0.6rem;

  svg {
    width: 1rem;
    height: 1rem;
    margin: 0 0.6rem 0 0;
  }
}

.btn__category:focus {
  background-color: #FF0000;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  //width: 92vw;
  //height: auto;
  overflow: hidden;
  padding: 0.7rem;
  margin: 0 0 0 4rem;
}

.list__item {
  width: 12.5rem;
  height: auto;
  margin: 1rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.1rem;

  img {
    width: 100%;
    height: 18.75rem;
  }


}

.list__item:focus {
  border: 0.1rem solid #FF0000;;
  transform: scale(1.1);

}

.on__back {
  width: 100%;
  margin: 0 0 0 4rem;
}

.on__back:focus {
  color: #FF0000;
}
