.sidebar {
  background: linear-gradient(180deg, rgba(4, 20, 35, 0.6) 0%, #041423 93.48%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 1.3rem;
  margin: 0.01rem;
}

.sidebar__mini:focus {
  background: #FF0000;
  color: black;
}

.item__base {
  margin: 1px;
  display: flex;
  align-items: center;
  flex-grow: 1;

    svg {
      padding: 0.5rem;
      width: 2.5rem;
      height: 2.5rem;
    }

    img {
      padding: 0.5rem;
      width: 2.5rem;
      height: 2.5rem;
    }

}

.item__base:focus {

  svg {
    color: #FF0000;
  }

  img svg{

    color: #FF0000;
  }
}

.icon__text{
  margin: 0 0 0 1rem;
}

.logo {
  margin: 0 0 2rem 0;
}

.nav {
  //flex-grow: 1;
  //margin: 3.5rem 0.01rem;
}

.nav li {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
  display: flex;
  align-items: center;
  a {
    display: flex;
    align-items: center;
  }

}

.log__in {
  display: flex;
  align-items: center;

}


