.row {
  display: flex;
  align-items: center;
}
.icon svg{
  width: 3rem;
  height: 3rem;
}

.ml_7 {
  margin-left: 4.375rem;
}

.nav__title {

  font-weight: bold;
  font-size: 4.5rem;
  line-height: 5.375rem;
}

.on__back:focus {
  transform: scale(1.2);
  color: #e53935;
}
